body {
    background-color: white;
    color: black;
    font-family: sans-serif;
}

form {
    width: 600px;
    margin: auto;        
}

h1 {
    font-family: sans-serif;
    font-size: 18;
    color: black;
    text-align: center;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 14pt;    
    border-radius: 6px;
}

input:hover, textarea:hover {
    background-color: #d6d1d1;
    
}

legend {
    color: black;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
    
}

fieldset {
    border-color: black;
    margin: 20px;
}

